@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Oswald:400,700&subset=latin-ext');

html, body{
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin: 0;
    background: url("../images/background.jpg") no-repeat center;
    background-position: fixed;
    color: #191f42;
    width: 100%;
    height: 100%;
}

* { outline: none !important;}
a, a:hover, a:active, a:focus, a:visited{ text-decoration: none; outline: none; color: #fff; }
a.aliner{ color: inherit;}
.index{ position: relative; z-index: 997; }
.left { float: left; }
.left-5 { float: left; margin-top: -5px; }
.right { float: right; }
.center {margin: auto; text-align: center}
.clear {clear: both; height: 0px;}
.index-4{position: relative; z-index:4;}
.afficite, .afficite-no{height:50px;}

/* podzial na 5 kolumn bootstrapa */
.boxes{
	margin-top: 1%;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 18%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
        padding-left:10px;
        padding-right:10px;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 19%;
        float: left;
        margin: 0 0.5% 0 0.5%;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 19%;
        float: left;
        margin: 0 0.5% 0 0.5%;
    }
}


/* STRONA GŁÓWNA */
header{
	width: 100%;
	height: 60px;
	background: #131313;
}

.navbar-default{
	background: none;
	border: none;
}

.navbar-brand p:first-child{
	font-family: "Oswald", sans-serif;
	font-size: 18px;
	font-weight: bold;
	font-style: italic;
	color: #fff;
	margin: 0;
	padding: 0;
	line-height: 0px;
	margin-bottom: 15px;
}

.navbar-brand p:last-child{
	letter-spacing: 2px;
	font-size: 10px;
	text-align: center;
	margin: 0;
	padding: 0;
	line-height: 0px;
}

.navbar-brand{
	margin-top: 10px;
	margin-bottom: 10px;
	border-right: 1px solid #2b2b2b;
	height: 40px;
}

/* menu */
.menu-top{
	border-right: 1px solid #2b2b2b;
	height: 40px;
	margin-top: 10px;
	padding-right: 20px;
}

.navbar-default .navbar-nav > a, 
.navbar-default .navbar-nav > a:hover, 
.navbar-default .navbar-nav > a:focus,
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus{
	margin-top: 5px;
	border-top: 1px solid #131313;
	padding: 8px;
	transition: all 0.3s ease-in;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus{
	background-color: #131313;
	color: #fff;
	border-top: 1px solid #dd1a1a;
}

/* profile view */
.profile-view{
	border-left: 1px solid #2b2b2b;
	max-height: 40px;
	margin-top: 10px;
	padding-left: 20px;
}

.profile-view .avatar{
	height: 40px;
	width: 40px;
	float: left;
}

.profile-view .user-info{
	float: left;
	color: #fff;
	font-size: 10px;
}

.profile-view .user-info h5, 
.profile-view .user-info h6{
	margin: 0;
	padding: 0;
	font-size: 12px;
	margin-left: 10px;
}

.profile-view .user-info h5{
	margin-top: 5px;
	margin-bottom: 5px;
}

.profile-view .user-info h6{
	color: #dd1a1a;
}

.profile-view .settings{
	float: left;
	margin-top: 10px;
	margin-left: 15px;
}

.user-settings .img-menu{
	margin-top: 10px;
	margin-left: 10px;
}

.user-settings{
	max-height: 40px;
	margin-top: 10px;
	padding-right: 20px;
	padding-left: 10px;
}

.user-settings div{
	float: left;
}

.user-settings .badge{
	position: relative;
	left: 20px;
	top: -10px;
	background: #dd1a1a;
}

/* alfer menu */
.games-section{
	width: 100%;
	height: 50px;
	background: rgba(0, 0, 0, 0.2);
}

.games-section .navbar-default .navbar-nav > .active > a, 
.games-section .navbar-default .navbar-nav > .active > a:hover, 
.games-section .navbar-default .navbar-nav > .active > a:focus{
	background: none;
	padding: 13px;
	margin: 0;
	transition: all 0.3s ease-in;
}

.games-section .navbar-default .navbar-nav > .active > a, 
.games-section .navbar-default .navbar-nav > .active > a:hover, 
.games-section .navbar-default .navbar-nav > .active > a:focus{
	color: #fff;
	border-top: 1px solid #dd1a1a;
}

.games-section .navbar-nav > li > a{
	border-top: 1px solid rgba(255, 255, 255, 0);
	color: #7c7c7c;
	transition: all 0.3s ease-in;
}

.games-section .navbar-nav > li > a:hover, 
.games-section .navbar-default .navbar-nav > li > a:focus{
	border-top: 1px solid #dd1a1a;
	color: #fff;
}

/* sections */
.section-1{
	width: 100%;
	min-height: 50px;
	background: #fff;
}

.section-1 .thumb-img{
	padding-left: 0px;
}

.section-1 h1{
	font-family: "Oswald", sans-serif;
	font-size: 18px;
	margin-bottom: 20px;
}

.section-1 h2,
.section-1 h3{
	font-size: 16px;
	font-weight: 600;
	margin:0;
	padding-bottom: 10px;
}

.rangs{
	width: 100%;
	height: 170px;
}

.team-image{
	width: 20%;
	float: left;
}

.team-rangs{
	margin-left: 5%;
	width: 75%;
	float: left;
}

.meeting{
	border-top: 1px solid #b8b8b8;
	width: 100%;
	padding-top: 2%;
}

.meeting h2{
	margin-top: 5px;
}

.meeting button{
	width: 80px;
	height: 40px;
	border: none;
	background: #dd1a1a;
	font-weight: 600;
	transition: all 0.3s ease;
}

.meeting button:hover{
	background: #e42c2c;
}

/* rangs table */
.extend-table{
	border-collapse: separate; 
	border-spacing:0px 8px;
	margin-top: -20px;
}

.extend-table > thead > tr > th{
	border: none;
}

.extend-table > tbody > tr > td{
	border-top: 1px solid #131313;
	border-bottom: 1px solid #131313;
	padding: 4px;
}

.extend-table > tbody > tr:first-child > td{
	color: #dd1a1a;
}

.extend-table > tbody > tr > td:first-child{
	border-left: 1px solid #131313;
	background: url("../images/table-extend.png");
	padding-left: 15px;
	color: #fff;
}

.extend-table > tbody > tr:first-child > td:first-child{
	background: url("../images/table-extend-red.png");
	border-left: 1px solid #dd1a1a;
}

.extend-table > tbody > tr > td:last-child{
	border-right: 1px solid #131313;
}

.extend-table > tbody > tr:first-child  > td{
	border-top: 1px solid #dd1a1a;
	border-bottom: 1px solid #dd1a1a;
}

.extend-table > tbody > tr > td:last-child{
	border-right: 1px solid #dd1a1a;
}


/*
.extend-table tbody > tr td{
	border: 1px solid #131313;
}