@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Oswald:400,700&subset=latin-ext');

html, body{
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin: 0;
    background: url("../images/background.jpg") no-repeat fixed;
    color: #191f42;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

* { outline: none !important;}
a, a:hover, a:active, a:focus, a:visited{ text-decoration: none; outline: none; color: #fff; }
a.aliner{ color: inherit;}
.index{ position: relative; z-index: 997; }
.left { float: left; }
.left-5 { float: left; margin-top: -5px; }
.right { float: right; }
.center {margin: auto; text-align: center}
.clear {clear: both; height: 0px;}
.index-4{position: relative; z-index:4;}
.afficite, .afficite-no{height:50px;}

/* podzial na 5 kolumn bootstrapa */
.boxes{
	margin-top: 1%;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 18%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
        padding-left:10px;
        padding-right:10px;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 19%;
        float: left;
        margin: 0 0.5% 0 0.5%;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 19%;
        float: left;
        margin: 0 0.5% 0 0.5%;
    }
}


/* STRONA GŁÓWNA */
header{
	width: 100%;
	height: 60px;
	background: #131313;
}

.navbar-default{
	background: none;
	border: none;
}

.navbar-brand p:first-child{
	font-family: "Oswald", sans-serif;
	font-size: 18px;
	font-weight: bold;
	font-style: italic;
	color: #fff;
	margin: 0;
	padding: 0;
	line-height: 0px;
	margin-bottom: 15px;
}

.navbar-brand p:last-child{
	letter-spacing: 2px;
	font-size: 10px;
	text-align: center;
	margin: 0;
	padding: 0;
	line-height: 0px;
}

.navbar-brand{
	margin-top: 10px;
	margin-bottom: 10px;
	border-right: 1px solid #2b2b2b;
	height: 40px;
}

/* menu */
.menu-top{
	border-right: 1px solid #2b2b2b;
	height: 40px;
	margin-top: 10px;
	padding-right: 20px;
}

.menu-log{
	margin-left: 20px;
	margin-top: 10px;
}

header .navbar-default .navbar-nav > a, 
header .navbar-default .navbar-nav > a:hover, 
header .navbar-default .navbar-nav > a:focus,
header .navbar-default .navbar-nav > li > a, 
header .navbar-default .navbar-nav > li > a:hover, 
header .navbar-default .navbar-nav > li > a:focus,
header .navbar-default .navbar-nav > .active > a, 
header .navbar-default .navbar-nav > .active > a:hover, 
header .navbar-default .navbar-nav > .active > a:focus{
	margin-top: 5px;
	border-top: 1px solid #131313;
	padding: 5px;
	transition: all 0.3s ease-in;
}


header .navbar-default .navbar-nav > li> a:hover, 
header .navbar-default .navbar-nav > li > a:focus,
header .navbar-default .navbar-nav > .active > a, 
header .navbar-default .navbar-nav > .active > a:hover, 
header .navbar-default .navbar-nav > .active > a:focus{
	background-color: #131313;
	color: #fff;
	border-top: 1px solid #dd1a1a;
}

/* profile view */
.profile-view{
	border-left: 1px solid #2b2b2b;
	max-height: 40px;
	margin-top: 10px;
	padding-left: 20px;
}

.profile-view .avatar{
	height: 40px;
	width: 40px;
	float: left;
}

.profile-view .user-info{
	float: left;
	color: #fff;
	font-size: 10px;
}

.profile-view .user-info h5, 
.profile-view .user-info h6{
	margin: 0;
	padding: 0;
	font-size: 12px;
	margin-left: 10px;
}

.profile-view .user-info h5{
	margin-top: 5px;
	margin-bottom: 5px;
}

.profile-view .user-info h6{
	color: #dd1a1a;
}

.profile-view .settings{
	float: left;
	margin-top: 10px;
	margin-left: 15px;
}

.user-settings .img-menu{
	margin-top: 10px;
	margin-left: 10px;
}

.user-settings{
	max-height: 40px;
	margin-top: 10px;
	padding-right: 20px;
	padding-left: 10px;
}

.user-settings div{
	float: left;
}

.user-settings .badge{
	position: relative;
	left: 20px;
	top: -10px;
	background: #dd1a1a;
}

/* alfer menu */
.games-section{
	width: 100%;
	height: 50px;
	background: rgba(0, 0, 0, 0.2);
}

.games-section .navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.games-section .navbar .navbar-collapse {
    text-align: center;
}

.games-section .navbar-default .navbar-nav > .active > a, 
.games-section .navbar-default .navbar-nav > .active > a:hover, 
.games-section .navbar-default .navbar-nav > .active > a:focus{
	background: none;
	padding: 13px;
	margin: 0;
	transition: all 0.3s ease-in;
}

.games-section .navbar-default .navbar-nav > .active > a, 
.games-section .navbar-default .navbar-nav > .active > a:hover, 
.games-section .navbar-default .navbar-nav > .active > a:focus{
	color: #fff;
	border-top: 1px solid #dd1a1a;
}

.games-section .navbar-nav > li > a{
	border-top: 1px solid rgba(255, 255, 255, 0);
	color: #7c7c7c;
	transition: all 0.3s ease-in;
}

.games-section .navbar-nav > li > a:hover, 
.games-section .navbar-default .navbar-nav > li > a:focus{
	border-top: 1px solid #dd1a1a;
	color: #fff;
}

/* Panel logowania */
#singIn .modal-content{
	border-radius: 0px;
	width: 450px;
	margin: 0 auto;
}

#singIn .modal-content .modal-header{
	text-align: center;
	background: #131313;
	color: #fff;
	border: none;
}

#singIn .modal-content .modal-header .close{
	color: #fff;
}

#singIn .modal-body .information p{
	display: inline;
	color: #111;
	margin-right: 10px;
}

#singIn .modal-body .information p a{
	color: #555;
	border-bottom: 1px dotted #555;
}

/* Przypomnienie hasla */
#recoveryPass{
	overflow: hidden;
}

#recoveryPass .modal-content{
	border-radius: 0px;
	width: 450px;
	margin: 0 auto;
}

#recoveryPass .modal-content .modal-header{
	text-align: center;
	background: #131313;
	color: #fff;
	border: none;
}

#recoveryPass .modal-content .modal-header .close{
	color: #fff;
}

.btn-back{
	border-radius: 0px;
	border: 1px solid #dd1a1a;
	background: none;
	transition: all 0.3s ease;
}

.btn-back:hover{
	border: 1px solid #e42c2c;
}

.btn-log{
	border-radius: 0px;
	border: 1px solid #dd1a1a;
	background: #dd1a1a;
	color: #fff;
	transition: all 0.3s ease;
}

.btn-log:hover{
	color: #fff;
	background: #e42c2c;
}

/* slider */
.carousel-control.right, .carousel-control.left {
    background: #131313;
    opacity: 1;
}

.carousel-control.left{
	margin-left: -5px;
	transition: all 0.3s ease;
}

.carousel-control.left:hover{
	margin-left: 0px;
}

.carousel-control.right{
	margin-right: -5px;
	transition: all 0.3s ease;
}

.carousel-control.right:hover{
	margin-right: 0px;
}

.carousel-control {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    width: 40px;
	background: #131313;
	height: 33px;
	opacity: 1;
}

.carousel-caption{
	height: 100px;
	background: rgba(0, 0, 0, 0.5);
	right: 0;
	left: 0;
	bottom: 0;
}

.carousel-indicators {
	bottom: 0;
}

.carousel-caption h3{
	font-size: 18px;
	margin: 0;
	padding: 0;
}

/* main page, panterka i buttony */
.main-page .panters-logo{
	margin-top: 2%;
}

.main-page h1,
.register-form h1{
	font-size: 26px;
	font-family: 'Oswald', sans-serif;
	font-style: italic;
	color: #fff;
	text-align: center;
}

.main-page h2,
.register-form h2{
	font-size: 18px;
	color: #fff;
	text-align: center;
	margin: 0;
}

.log-button-main{
	width: 330px;
	margin: 2% auto;
	text-align: center;
	height: 50px;
	line-height: 50px;
}

.main-page .log-button-main button,
.main-page .log-button-main p{
	display: inline;
	color: #fff;
}

.main-page .log-button-main button{
	padding: 10px 20px 10px 20px;
}

/* images of main page */
.image-main{
	width: 100%;
	height: 400px;
	background: url("../images/bg-section-main.jpg") no-repeat;
}

.image-main .image-margin{
	margin-top: 10%;
	text-align: center;
}

.image-main .image-margin h3{
	color: #fff;
	font-size: 20px;
	font-weight: 700;
	margin: 10% 0 10% 0;
}

.image-main .image-margin p{
	color: #fff;
	font-size: 14px;
	font-weight: 300;
}

.image-main .image-margin-hover img{
	margin-top: 0px;
	margin-bottom: 0px;
	transition: all 0.3s ease;
}

.image-main .image-margin-hover:hover img{
	margin-top: -10px;
	margin-bottom: 10px;
}

/* sections */
.section-1{
	width: 100%;
	min-height: 50px;
	background: #fff;
}

.section-1 .thumb-img{
	padding-left: 0px;
}

.section-1 h1{
	font-family: "Oswald", sans-serif;
	font-size: 18px;
	margin-bottom: 20px;
}

.section-1 h2,
.section-1 h3{
	font-size: 16px;
	font-weight: 600;
	margin:0;
	padding-bottom: 10px;
}

.rangs{
	width: 100%;
	height: 155px;
}

.team-image{
	width: 20%;
	float: left;
}

.team-rangs{
	margin-left: 5%;
	width: 75%;
	float: left;
}

.meeting{
	border-top: 1px solid #b8b8b8;
	width: 100%;
	padding-top: 2%;
}

.meeting h2{
	margin-top: 5px;
}

.meeting button{
	width: 80px;
	height: 40px;
	border: none;
	background: #dd1a1a;
	font-weight: 600;
	margin-top: 10px;
	transition: all 0.3s ease;
}

.meeting button:hover{
	background: #e42c2c;
}

/* rangs table */
.extend-table{
	border-collapse: separate; 
	border-spacing:0px 8px;
	margin-top: -20px;
}

.extend-table > thead > tr > th{
	border: none;
}

.extend-table > tbody > tr > td{
	border-top: 1px solid #131313;
	border-bottom: 1px solid #131313;
	padding: 4px;
}

.extend-table > tbody > tr:first-child > td{
	color: #dd1a1a;
}

.extend-table > tbody > tr > td:first-child{
	border-left: 1px solid #131313;
	background: url("../images/table-extend.png");
	padding-left: 15px;
	color: #fff;
}

.extend-table > tbody > tr:first-child > td:first-child{
	background: url("../images/table-extend-red.png");
	border-left: 1px solid #dd1a1a;
}

.extend-table > tbody > tr > td:last-child{
	border-right: 1px solid #131313;
}

.extend-table > tbody > tr:first-child  > td{
	border-top: 1px solid #dd1a1a;
	border-bottom: 1px solid #dd1a1a;
}

.extend-table > tbody > tr > td:last-child{
	border-right: 1px solid #dd1a1a;
}

/* SECTION-2 */
.section-2{
	width: 100%;
	min-height: 100px;
	background: #fff;
}

.section-2 h1{
	font-size: 18px;
	font-family: "Oswald", sans-serif;
	text-align: center;
	margin-bottom: 30px;
}

.table-tournaments .out {
    visible: hidden;
    display: none;
}

.table-tournaments .in {
    color: #131313;
}

.table-tournaments tbody tr > td{
	vertical-align: middle;
}

.table-tournaments h3{
	font-size: 12px;
	color: #dd1a1a;
	margin: 0 0 5px 0;
	padding: 0;
}

.table-tournaments p{
	font-size: 12px;
	margin: 0 0 5px 0;
}

.table-tournaments .clickable td{
	vertical-align:middle; 
	text-align:center;
}

.table-tournaments .clickable td img{
	display:block; 
	margin:0 auto;
}

.table-tournaments .clickable h2{
	font-size: 14px;
	font-weight: 600;
	text-align: center;
}

.awards img{
	margin-bottom: 5px;
}

/* SECTION-3 */
.section-3{
	width: 100%;
	max-height: 100px;
	background: #fff;
}

.meeting-info{
	padding-left: 3%;
}

.meeting-info h1,
.versus h1,
.match-saw h1{
	font-size: 18px;
	font-family: "Oswald", sans-serif;
	margin: 0 0 5px 0;
	padding: 0;
}

.meeting-info h2{
	color: #dd1a1a;
	font-family: "Oswald", sans-serif;
	font-size: 14px;
	margin:0;
	padding: 0;
}

.meeting-info{
	display:flex;
	align-items:center;
	height:100px;
}

.logo-meeting-1, .logo-meeting-2{
	background: #27a8ae;
	display:flex;
	justify-content:center;
	align-items:center;
	height:100px;
}

.logo-meeting-2{
	background: none;
}

.versus{
	display:flex;
	justify-content:center;
	align-items:center;
	height:100px;
	background: url("../images/versus.png") no-repeat;
}

.match-saw{
	background: url("../images/pantera.png") no-repeat #dd1a1a -50px;
	height: 100px;
	display:flex;
	justify-content:center;
	align-items:center;
}

.match-saw h1{
	color: #fff;
	margin: 0 10px 0;
}

/* rejestracja */
.register-box-1,
.register-box-2{
	background: #fff;
	padding: 20px;
	min-height: 400px;
}

.register-box-1 h1,
.register-box-2 h1{
	font-size: 24px;
	font-family: 'Oswald', sans-serif;
	margin: 0 0 20px 0;
}

.register-box-1 .checkbox a{
	color: #b8b8b8;
	border-bottom: 1px dotted #b8b8b8;
}

.register-box-1 .checkbox{
	font-size: 12px;
}

.register-box-1 .form-control,
.register-box-2 .form-control{
	border: 0px;
	border-radius: 0px;
	border-bottom: 1px solid #b8b8b8;
	box-shadow: none;
	transition: all 0.3s ease;
	margin-bottom: 10px;
}

.register-box-1 .form-control:active,
.register-box-1 .form-control:focus,
.register-box-2 .form-control:active,
.register-box-2 .form-control:focus{
	box-shadow: none;
	border-bottom: 1px solid #dd1a1a;
}

.register-form{
	margin-top: 2%;
}

.register-form h1{
	margin: 0 0 10px 0;
}

.register-form input{
	width: 100%;
	height: 55px;
	background: #dd1a1a;
	border: none;
	border-radius: 0px;
	color: #fff;
	transition: background 0.3s ease;
}

.register-form input:hover{
	background: #e42c2c;
}

/* profil */
.image-user{
	position: relative;
	z-index: 1;
}

.user-caption{
	height: 60px;
	width: 100%;
	background: rgba(0, 0, 0, 0.8);
	margin-top: -60px;
	position: relative;
	z-index: 2;
}

.user-caption h2{
	text-align: center;
	font-size: 14px;
	padding: 5% 0 3% 0;
	margin: 0;
	color: #fff;
}

.user-caption h3{
	text-align: center;
	margin: 0;
}

.profiles h3{
	font-size: 14px;
	color: #dd1a1a;
}

.menu-sidebar{
	width: 100%;
	min-height: 50px;
	background: #fff;
	margin-top: 5%;
}

.menu-sidebar h1{
	padding: 5% 5% 0;
	margin: 0;
	font-size: 18px;
	font-family: "Oswald", sans-serif;
	color: #131313;
}

.menu-sidebar nav li{
	list-style: none;
	padding: 2% 5%;
}

.menu-sidebar nav li a{
	color: #131313;
	transition: all 0.3s ease;

}
.menu-sidebar nav li a:hover,
.menu-sidebar nav li a.active
{
	color: #dd1a1a;
}

.main-profile-view{
	width: 100%;
	min-height: 100px;
	background: #fff;
	padding: 20px;
}

.main-profile-view h1{
	margin: 0;
	padding: 2% 0 5% 0;
	text-align: center;
	font-size: 24px;
}

.main-profile-view h2{
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: "Oswald", sans-serif;
}

.main-profile-view h3{
	margin: 5% 0;
}

.main-profile-view p{
	margin: 0;
	padding: 0;
	font-size: 14px;
}

.main-profile-view p span{
	margin: 0;
	padding: 0;
	font-size: 14px;
	color: #dd1a1a;
}

.btn-stats{
	border-radius: 0px;
	border: 0;
	background: #dd1a1a;
	margin-top: 5%;
	width: 100%;
	color: #fff;
}

/* lobby */
.lobby{
	display: flex;
	flex-flow: row wrap;
}

.lobby h1{
	font-family: "Oswald", sans-serif;
	text-align: center;
	margin: 1em;
	font-size: 28px;
}

.lobby .cols{
	flex: 1 0px;
}

.lobby .team{
	background: #fff;
	min-height: 100%;
}

.lobby-avatar{
	width: 40px;
	height: 40px;
}

.team .team-center{
	text-align: center;
}

.team .team-center p,
.team .team-center input{
	float: left;
	font-size: 18px;
	margin-top: 100px;
}

.team .team-center input{
	margin-left: 10px;
	border: none;
	text-align: right;
	border-bottom: 1px solid #bababa;
	width: 10em;
}

.team-centered{
	text-align: center;
}

.team-centered h2{
	font-family: "Oswald", sans-serif;
	text-align: center;
	line-height: 100px;
}

.bottom-lobby{
	background: #fff;
	height: 140px;
}

.end-match{
	margin: 0;
}

.end-match h3{
	font-size: 16px;
	margin: 10px 0 10px 0;
	padding: 0;
}

.end-match .select-file{
	background: none;
	height: 30px;
	color: #232323;
}

.end-match input.form-control{
	margin-top: 20px;
	width: 90%;
	height: 40px;
}

.team-middle{
	width: 240px;
	margin: 3% auto;
	clear:both;
}

.team-middle .team-score-left{
	width: 45%;
	float: left;
	text-align: right;
}

.team-middle .team-score-left h3,
.team-middle .team-score-right h3{
	font-size: 18px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: -10px;
}

.team-middle .team-score-left input,
.team-middle .team-score-right input{
	margin-left: 10px;
	border: none;
	text-align: right;
	border-bottom: 1px solid #bababa;
	width: 100%;
	height: 50px;
	font-size: 38px;
	font-family: "Oswald", sans-serif;
	margin: none;
}

.team-middle .team-score-right input{
	text-align: left;
}

.team-middle .team-score-center{
	width: 10%;
	text-align: right;
	float: left;
	font-size: 44px;
	font-family: "Oswald", sans-serif;
	margin-top: 12%;
}

.team-middle .team-score-right{
	width: 45%;
	float: left;
}

/* DIAGRAM */
.diagrams h2{
	line-height: 40px;
}

.public-team h1{
	font-size: 32px;
	text-align: center;
}

.images-public-team{
	width: 40px;
	float: left;
	margin-right: 20px;
}

.title-public-team{
	float:left;
	margin-top: 10px;
}

.public-team-container{
	clear:both;
	width: 100%;
	margin-top: 10px;
}

.reset-margin{
	margin-left: -30px;
}

.public-team-box{
	background: #fff;
	margin-left: -15px;
	height: 225px;
}

.public-team-box h2{
	font-size: 18px;
}

.public-team-box a{
	position: absolute;
	bottom: 10px;
	color: #DD1A1A;
}

.reset-padding{
	padding-left: 0px;
}

.public-team h2{
	font-size: 20px;
}

/* footer */
.bottom-arrow{
	width: 40px;
	height: 20px;
	margin: -20px auto;
	background: url("../images/bottom-arrow.png") no-repeat;
	position: relative;
	top: -19px;
}

footer{
	width: 100%;
	background: #131313;
	color: #fff;
	border-top: 1px solid #dd1a1a;
}

footer .container{
	background: url("../images/footer-pantera.png") no-repeat 50px 0px;
}

footer h1{
	font-family: "Oswald", sans-serif;
	font-size: 18px;
	margin:30px 0 15px 0;
	padding: 0;
}

footer .list{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

footer .list li a{
	color: #888;
	transition: color 0.3s ease;
}

footer .list li a:hover{
	color: #fff;
}

.big-footer{
	display:flex;justify-content:center;align-items:center;
	height: 200px;
}

.big-footer h1{
	text-align: center;
	font-size: 44px;
	font-style: italic;
}

.big-footer img{
	float: left;
	margin-right: 25px;
	opacity: 0.5;
}

.big-footer img:hover{
	opacity: 1;
}

footer .footer-info{
	margin-top: 30px;
	margin-bottom: 10px;
}

footer .footer-info p{
	font-size: 12px;
}