.main-profile-view {
    display: flex !important;
}

.group {
  width: 100%;
  height: 50px;
  overflow: hidden;
  position: relative;
}

.register-box-1, .register-box-2{
    min-height: 0 !important;
}

.profile-edit-title {
    display: flex !important;
    width: 100%;
    background: #fff;
    padding: 20px 20px 0px 30px;
}

.profile-edit-label{
    margin-top:15px;
    font-weight: bold;
}

.profile-edit-button{
    position: relative;
    margin: 20px auto 20px auto;
    width: 50%;
    background-color: #fff;
}