@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=latin-ext');

html, body{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 0;
    background: #fff;
    color: #191f42;
    overflow-x: hidden;
}

* { outline: none !important;}
a, a:hover, a:active, a:focus, a:visited{ text-decoration: none; outline: none; color: #fff; }
a.aliner{ color: inherit;}
.index{ position: relative; z-index: 997; }
.left { float: left; }
.left-5 { float: left; margin-top: -5px; }
.right { float: right; }
.center {margin: auto; text-align: center}
.clear {clear: both; height: 0px;}
.index-4{position: relative; z-index:4;}
.afficite, .afficite-no{height:50px;}

/* podzial na 5 kolumn bootstrapa */
.boxes{
	margin-top: 1%;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 18%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
        padding-left:10px;
        padding-right:10px;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 19%;
        float: left;
        margin: 0 0.5% 0 0.5%;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 19%;
        float: left;
        margin: 0 0.5% 0 0.5%;
    }
}

/* menu podstrona */
.navbar{
	margin-top: 10px;
	position: relative;
	z-index: 99999;
}

.navbar-default{
	background: none;
}

.navbar-default{
	border-color: #fff;
}

.navbar-default .navbar-nav > li > a{
	border: 1px solid #ef4640;
	height: 60px;
	padding:0;
	line-height:60px;
	transition: all 0.3s ease;
	color: #2c3e50;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:focus, 
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > li > a:focus, 
.navbar-default .navbar-nav > li > a:hover{
	background: #ef4640;
	color: #fff;
}

.navbar-default .navbar-nav > li > a.teddy:hover,
.navbar-default .navbar-nav > li.active > a.teddy:focus, 
.navbar-default .navbar-nav > li.active > a.teddy:hover,
.navbar-default .navbar-nav > li.active > a.teddy{
	border: 1px solid #0095db;
	background: #fff;
	color: #fff;
}

.navbar-nav{
	width: 100%;
}

.navbar-nav > li{
	width: 19%;
	padding:0;
	padding-right: 15px;
    padding-left: 15px;
    margin: 0 0.5% 0 0.5%;
    text-align: center;
    height: 60px;
}

