@media (max-width: 1199px) {
	
}

@media (max-width: 991px) {
	.navbar-nav > li{
		width: 19%;
		padding:0;
		padding-right: 5px;
	    padding-left: 5px;
	    text-align: center;
	    height: 60px;
	}

	
}

@media (max-width: 1153px) {

}

@media (max-width: 376px) {
	
}

@media (max-width: 387px) {
	
}

/* zmiana breakpoint pojawianie sie hamburgera menu
@media (max-width: 991px) {
	.navbar-header {
		float: none;
	}
	.navbar-left,.navbar-right {
		float: none !important;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}
	.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
	.navbar-collapse.collapse {
		display: none !important;
	}
	.navbar-nav {
		float: none !important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
		float: none;
	}
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.collapse.in{
		display:block !important;
	}
} */

@media (max-width: 767px) {
	.col-xs-width{
		margin-left:auto;
		margin-right:auto;
		margin-bottom:30px;
		width:200px;
	}

	.navbar-default{
		border-color: #e7e7e7;
	}

	.navbar-default .navbar-nav > li > a{
		border: 1px solid #fff;
		height: 60px;
		padding:0;
		line-height:60px;
		transition: all 0.3s ease;
		color: #2c3e50;
	}

	.navbar-nav > li{
		width: 100%;
		padding:0;
		padding-right: 15px;
	    padding-left: 15px;
	    margin: auto;
	    text-align: center;
	    height: 60px;
	}
}